body {
  position: relative;
  width: 100%;
  height: 717px;

  /* Neutrals/N10 */
}

.cont {
  position: static;
  width: 375px;
  height: 720px;
  left: 0.05px;
  top: 0.05px;

  /* Neutrals/N0 */

  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  border-right: none;
  border-top: none;
}

.header-con {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: auto;
  padding-top: 58px;
}

.logo {
  position: static;
  padding-left: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  /* identical to box height, or 111% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */

  color: #6070ff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

:hover {
  color: blueviolet;
}

.title_lo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.humb {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 30px;
  left: 280px;
  top: 50px;

  /* Primary/B400 */

  list-style: none;
}

.humb:hover {
  background-color: #ff6088;
}

.vector1 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 29.17%;
  bottom: 70.83%;

  /* Base / 300 - Tertiary */

  border: 2px solid #0b7bf3f6;
}

.vector2 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 50%;
  bottom: 50%;

  /* Base / 300 - Tertiary */

  border: 2px solid #0376f1;
}

.vector3 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 70.83%;
  bottom: 29.17%;

  /* Base / 300 - Tertiary */

  border: 2px solid #067bf8;
}

.content_name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 114px;
  left: 24px;
  box-sizing: border-box;
  border-bottom-right-radius: 16px;
}

.my_name {
  /* Primary Text */

  position: static;
  width: 320px;
  height: 150px;
  padding-left: 24px;
  padding-top: 114px;

  /* Header / 2 */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 1px;
}

.my_details {
  position: static;
  width: 327px;
  height: 146px;
  padding-left: 24px;
  top: 276px;

  /* Body / 2 */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 1px;
}

.more_det {
  position: static;
  width: 130px;
  height: 24px;
  padding-left: 23px;

  /* Body / 2 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 8px;
}

.media_icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
  left: 1px;
}

.twitter {
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;
}

.medium {
  left: 27.47%;
  right: 67.2%;
  top: 78.15%;
  bottom: 19.21%;
}

.github {
  left: 38.13%;
  right: 57.07%;
  top: 77.81%;
  bottom: 18.87%;
}

.vact {
  left: 48%;
  right: 48.22%;
  top: 77.81%;
  bottom: 18.87%;
}

.shape1 {
  background-image: url("shapes-icons/Rectangle4.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 80.58px;
  height: 70.02px;
  left: 250px;
  top: 125.79px;
  transform: rotate(-5deg);
}

.shape2 {
  background-image: url("shapes-icons/Ellipse3.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 105px;
  left: 273px;
  top: 152.24px;
}

.shape3 {
  background-image: url("shapes-icons/Ellipse8.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 214px;
  top: 110px;
}

.shape4 {
  background-image: url("shapes-icons/Rectangle7.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 26.46px;
  height: 20.73px;
  left: 130.18px;
  top: 152.59px;
}

.shape5 {
  background-image: url("shapes-icons/Ellipse5.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 11px;
  height: 50px;
  left: 132.98px;
  top: 155.81px;
}

.shape6 {
  background-image: url("shapes-icons/Rectangle6.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 51.99px;
  height: 9.3px;
  left: -34px;
  top: 141.49px;
  transform: rotate(-46.14deg);
}

.shape7 {
  background-image: url("shapes-icons/Ellipse11.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 38.5px;
  height: 40.25px;
  left: 10.04px;
  top: 140.47px;
}

.shape8 {
  background-image: url("shapes-icons/Ellipse12.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 24.14px;
  height: 15.07px;
  left: 341.76px;
  top: 546.69px;
}

.shape9 {
  background-image: url("shapes-icons/Ellipse13.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 30.1px;
  height: 40.1px;
  left: 332.18px;
  top: 550.44px;
}

.shape10 {
  background-image: url("shapes-icons/Rectangle5.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 68.06px;
  height: 40.18px;
  left: 191.82px;
  top: 653px;
}

.shape11 {
  background-image: url("shapes-icons/Ellipse4.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 21px;
  height: 20px;
  left: 237px;
  top: 657.1px;
}

.shape12 {
  background-image: url("shapes-icons/Ellipse15.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 53px;
  top: 644px;
}

.works_card {
  display: grid;
  grid-template-columns: 20px max-content;
  padding: 16px;
  position: static;
  width: 327px;
  height: 552px;
  left: calc(50% - 327px / 2);
  top: 114px;
  padding-right: 24px;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N40 */

  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 88px 24px;
  margin-top: 90px;
}

.work_img {
  background-image: url("src-image/Snapshoot-Portfolio.png");
  display: flex;
  flex-direction: row;
  width: 295px;
  height: 219px;
  left: 16px;
  top: 16px;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 1px;
}

.work-details {
  display: flex;
}

.work_name {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 0.05px;
  list-style: none;
  margin-top: 185px;
  margin-left: -55px;
}

.work_name2 {
  display: flex;
  flex-direction: row;
  height: 40px;
  list-style-type: circle;
  gap: 20px;
  padding-left: 10px;
}

.canopy {
  width: 55px;
  height: 16px;
  top: 8px;

  /* Caption / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* Neutrals/N600 */

  color: #344563;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
}

.dev {
  position: static;
  width: 88px;
  height: 16px;
  top: 8px;

  /* Caption / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* Neutrals/N100 */

  color: #7a869a;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.year {
  position: static;
  width: 29px;
  height: 16px;
  top: 8px;

  /* Caption / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* Neutrals/N100 */

  color: #7a869a;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.text_det {
  width: 295px;
  height: 76px;
  top: 92px;

  /* Body / 3 */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  /* Neutrals/N600 */

  color: #344563;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 39px;
  margin-left: -9px;
}

.button_lang {
  display: flex;
  flex-direction: row;
  width: 333px;
  gap: 5px;
  list-style: none;
  margin-top: 1px;
}

.htm {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 4px 12px;
  position: static;
  height: 20px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  color: #6070ff;
  margin-top: -35px;
  margin-left: -39px;
}

.htm:hover {
  color: blueviolet;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  height: 20px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 8px;
  color: #6070ff;
  margin-top: -35px;
  margin-left: 6px;
}

.css:hover {
  color: blueviolet;
}

.javascript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  height: 20px;
  left: 114px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 1px 8px;
  color: #7f8cff;
  margin-top: -35px;
}

.javascript:hover {
  color: blueviolet;
}

.see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 12px;
  position: static;
  width: 124px;
  height: 48px;
  top: 1300px;
  left: 25px;

  /* Primary/B400 */

  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: white;
  color: #6d7bf8;
  margin-top: 20px;
  margin-left: 1px;
}

.see-project,
button:enabled {
  color: #6d7bf8;
}

button:active {
  background: #6070ff;
  color: white;
  border: 100px;
}
.works_card2 {
  display: grid;
  grid-template-columns: 20px max-content;
  padding: 16px;
  position: static;
  width: 327px;
  height: 552px;
  left: calc(50% - 327px / 2);
  top: 114px;
  padding-right: 24px;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N40 */

  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 88px 24px;
  margin-top: 80px;
}

.work_img2 {
  background-image: url("src-image/SnapshootPortfolio1.png");
  display: flex;
  flex-direction: row;
  width: 295px;
  height: 219px;
  left: 16px;
  top: 16px;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 1px;
}

.work_name1 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 64px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #172b4d;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 0.05px;
  list-style: none;
  margin-top: 180px;
  margin-left: -55px;
  padding-top: 10px;
}

.button_lang1 {
  display: flex;
  flex-direction: row;
  width: 333px;
  gap: 5px;
  list-style: none;
  margin-top: 13px;
}

.work_name3 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #172b4d;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 0.05px;
  list-style: none;
  margin-top: 180px;
  margin-left: -55px;
  padding-top: 10px;
}

.work_img3 {
  background-image: url("src-image/Snapshoot-Portfolio2.png");
  display: flex;
  flex-direction: row;
  width: 295px;
  height: 219px;
  left: 16px;
  top: 16px;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 1px;
}

.work_img4 {
  background-image: url("src-image/Snapshoot\ -portfolio3.png");
  display: flex;
  flex-direction: row;
  width: 295px;
  height: 219px;
  left: 16px;
  top: 16px;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 1px;
}

.see-project1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 12px;
  position: static;
  width: 124px;
  height: 48px;
  top: 1300px;
  left: 25px;

  /* Primary/B400 */

  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: white;
  color: #7f8cff;
  margin-top: 20px;
  margin-left: 1px;
}

.see-project1:hover {
  background: rgb(150, 135, 247);
  color: white;
}

.see-project2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 12px;
  position: static;
  width: 124px;
  height: 48px;
  top: 1300px;
  left: 25px;

  /* Primary/B400 */

  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: white;
  color: #7f8cff;
  margin-top: 20px;
  margin-left: 1px;
}

.see-project2:hover {
  background: rgb(150, 135, 247);
  color: white;
}

.see-project3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 12px;
  position: static;
  width: 124px;
  height: 48px;
  top: 1300px;
  left: 25px;

  /* Primary/B400 */

  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: white;
  color: #7f8cff;
  margin-top: 20px;
  margin-left: 1px;
}

.see-project3,
button:disabled {
  cursor: not-allowed;
}

.see-project:active {
  font-size: 18px;
  background: #6070ff;
  color: white;
  border: 100px;
  width: 124px;
  height: 48px;
}

.see-project1:active {
  font-size: 18px;
  background: #6070ff;
  color: white;
  border: 100px;
  width: 124px;
  height: 48px;
}

.see-project2:active {
  font-size: 18px;
  background: #6070ff;
  color: white;
  border: 100px;
  width: 124px;
  height: 48px;
}

.see-project3:active {
  font-size: 18px;
  background: #6070ff;
  color: white;
  border: 100px;
  width: 124px;
  height: 48px;
}

.about {
  position: absolute;
  width: 375px;
  height: 1263px;
  left: 1em;
  top: 3294px;

  /* Neutrals/N0 */

  background: #fff;
}

.media_div2 {
  display: flex;
  padding-top: 3em;
}

.media_u {
  display: flex;
  list-style: none;
  margin-top: -12px;
  margin-left: -10px;
  gap: 10px;
}

.twitter2 {
  display: flex;
  height: 21px;
  left: 0.04%;
  right: 0.03%;
  top: 0.02%;
  bottom: 0%;
}

/* Vector */

.linked2 {
  display: flex;
  margin: 0.5px;
}

/* Vector */

.medium2 {
  display: flex;
}

/* Vector */

.github2 {
  display: flex;
}

/* Vector */

.angellist2 {
  display: flex;
}

.flex-botu {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 12px;
  position: static;
  width: 150px;
  height: 48px;
  left: 0.05px;
  top: calc(50% - 48px / 2 + 180.5px);

  /* Primary/B400 */

  background-color: white;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 16px;
}

.more_det1 {
  position: static;
  width: 130px;
  height: 24px;
  padding-left: 23px;

  /* Body / 2 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1px 8px;
  margin-top: -50px;
}

.flex-botu:hover {
  background: rgb(150, 135, 247);
  color: white;
}

.border-lang {
  height: 2em;
  right: 78px;
  margin-left: -17px;

  /* Body / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  color: #000;
  list-style: none;
}

.vector-1 {
  /* Vector */

  position: absolute;
  margin-left: 7em;
  margin-top: 0.05px;
}

.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.lang-img {
  /* Frame 9 */

  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 12px;

  /* Neutrals/N10 */

  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 12px 2px;
  margin-left: -10px;
  list-style: none;
}

.js-icon {
  display: flex;
  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 12px;

  /* Neutrals/N10 */

  background: #f7f7f9;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 12px 1px;
  text-decoration: none;
  align-items: center;
  gap: 15px;
}

.html-icon {
  /* Frame 10 */

  display: flex;
  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 90.72px;

  /* Neutrals/N10 */

  background-color: #f7f7f9;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 12px 1px;
  text-decoration: none;
  align-items: center;
  gap: 15px;
}

.css-icon {
  /* Frame 11 */

  position: static;
  display: flex;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 169.43px;

  /* Neutrals/N10 */

  background: #f7f7f9;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 1;
  margin: 12px 1px;
  text-decoration: none;
  align-items: center;
  gap: 15px;
}

.fr-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-left: 1px;
  list-style: none;
}

.border-frem {
  /* Frameworks */

  display: flex;
  height: 24px;
  left: 12px;
  right: 78px;
  margin-top: 220px;

  /* Body / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */

  align-items: center;
  color: #000;
}

.border-skill {
  /* Skills */

  display: flex;
  width: 250px;
  height: 50px;
  left: 12px;
  right: 78px;

  /* Body / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */

  align-items: center;
  color: #000;
  border: 1px #dfe1e6;
  border-style: solid none;
}

.vector-2 {
  position: absolute;
  margin-left: 12em;
  margin-top: 1em;
}

.vector-3 {
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: 12em;
  margin-top: 0.5px;
}

.arrow-right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.article-class {
  display: grid;
  grid-auto-columns: auto;
  align-content: flex-start;
}

.about-me {
  position: static;
  width: 327px;
  height: 101px;
  left: 0.05px;
  top: 0.05px;

  /* Header / 2 */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 55px 22px;
}

.contact-form {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  flex-direction: column;
  position: absolute;
  width: 375px;
  height: 779px;
  top: 273em;

  /* Primary/B400 */

  background: #6070ff;
  border-top-left-radius: 90px;
}

.my-contact {
  /* Primary Text */

  display: flex;
  width: 300px;
  padding-top: 2em;

  /* Header / 2 */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 52px;

  /* or 130% */

  align-items: center;
  text-align: center;
  justify-content: center;

  /* Neutrals/N0 */

  color: #fff;
}

.my_info {
  /* Primary Text */

  display: flex;
  width: 273px;
  padding-top: 0.5em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  justify-content: center;
  margin-left: 24px;
  margin-top: 1px;

  /* or 140% */

  text-align: center;

  /* Primary/B50 */

  color: #ebebff;
}

#name {
  display: flex;
  width: 16em;
  height: 40px;
  top: 25em;
  text-align: left;
  align-items: center;
  margin-left: 43px;

  /* Mono/White */

  background: #fff;

  /* Base/100 */

  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

#email {
  position: absolute;
  display: flex;
  width: 16em;
  height: 40px;
  top: 25.5em;
  text-align: left;
  align-items: center;
  margin-left: 43px;

  /* Mono/White */

  background: #fff;

  /* Base/100 */

  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

#message-form {
  position: absolute;
  display: flex;
  width: 16em;
  height: 150px;
  top: 29.5em;
  text-align: left;
  align-items: center;
  margin-left: 43px;

  /* Mono/White */

  background: #fff;
  color: #b3bac5;

  /* Base/100 */

  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

input[type="submit"] {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  position: absolute;
  width: 140px;
  height: 48px;
  left: 40px;
  top: 38.5em;
  list-style: none;
  color: #6070ff;
  text-align: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;

  /* Neutrals/N0 */

  background: #fff;
  border-radius: 8px;
}

input[type="submit"]:hover {
  background: rgb(129, 112, 245);
  color: white;
}

input[type="submit"]:active {
  background: #6070ff;
  color: white;
}

.form-ico {
  display: flex;
  width: 375px;
  height: 1263px;
  left: 2em;

  /* Neutrals/N0 */

  background: #fff;
}

.form-shape {
  background-image: url("src-image/Ellipse-form3.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 48px;
  height: 89px;
  left: 324px;
  top: 40px;
}

.form-shape1 {
  background-image: url("src-image/Rectangle-form4.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 65px;
  height: 153px;
  left: 308px;
  top: 15px;
}

.form-shape2 {
  background-image: url("src-image/Ellipse-form12.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 65px;
  height: 153px;
  left: 142px;
  top: 55px;
}

.form-shape3 {
  background-image: url("src-image/Ellipse-form5.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 65px;
  height: 75px;
  left: 243px;
  top: 664px;
}

.form-shape4 {
  background-image: url("src-image/Rectangle-form7.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 70px;
  height: 95px;
  left: 243px;
  top: 637px;
}

.form-shape5 {
  background-image: url("src-image/Shape.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 132px;
  height: 7px;
  left: 127px;
  top: 757px;
}
